body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fancy-font {
  font-family: "Lucida Handwriting";
}

/* leaf movement */
@keyframes moveLowerPart {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.green-image {
  animation: moveLowerPart 1s ease-in-out infinite;
}

/* flower rotate */
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotateInfinite 1s linear infinite;
}
