body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fancy-font {
  font-family: "Lucida Handwriting";
}

/* leaf movement */
@keyframes moveLowerPart {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.green-image {
  animation: moveLowerPart 1s ease-in-out infinite;
}

/* h1 */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInLeft 2s ease-out forwards;
}

/* ghost image and cards  */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInRight 2s ease-out forwards;
}

/* flower rotate */
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotateInfinite 1s linear infinite;
}
